.head{
    z-index: 2;
    position: absolute;
    text-align: center;
    margin-top: 2.5rem;
    width: 100%;
}
.head span{
    color:#fff;
    text-transform:uppercase;
  /*   font-family: 'Pacifico', cursive; */
    font-family: 'Monda', sans-serif;
    font-size:3em;
    animation:animate 2s linear;
   
    animation-iteration-count:2;
    
  /*   display:table-cell; */
    padding:0px  4px;
    text-shadow:0px 0px 20px  #fff,
        0px 0px 30px  #fff,
        0px 0px 10px  #fff,
        0px 0px 1px  #fff
        ;
  }
  .head span:nth-child(1){
    animation-delay:0s;
  }
  .head span:nth-child(2){
    animation-delay:0.25s;
  }
  .head span:nth-child(3){
    animation-delay:0.5s;
  }
  .head span:nth-child(4){
    animation-delay:0.75s;
  }
  .head span:nth-child(5){
    animation-delay:0.3s;
  }
  .head span:nth-child(6){
    animation-delay:0.5s;
  }
  .head span:nth-child(7){
    animation-delay:0.6s;
  }
  .head span:nth-child(8){
    animation-delay:0.8s;
  }
  .head span:nth-child(9){
    animation-delay:1s;
  }
  
  
  
  @keyframes animate{
    0%,15%,25%,30%,65%,95%{
      color:#111;
      text-shadow:none;
    }
    10%,20%,31%,60%,100%{
      color:#fff;
      text-shadow:0px 0px 20px  #fff,
        0px 0px 30px  #fff,
        0px 0px 10px  #fff,
        0px 0px 1px  #fff
        ;
    }
  }
