@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');
.container {
  padding: 0 2rem;
}
.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 0;  
}

.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid white;
  margin-bottom: 8px;
  padding: 0 12px;
  padding-bottom: 8px;

}

/* .main_title{
  display: flex;
  align-items: center;
 
} */

.name{
  font-size: 3rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.designation{
 font-size: 1.3rem;
  font-weight: 400;
  font-family: 'Roboto','sans-serif';
  color: white;
}

.dot{
  width: 7px;
  height: 7px;
  background: white;
  margin: 12px;
  border-radius: 50%;
}

.social{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 16rem;
  margin-top: 16px;
}

.icon{
  font-size: 1.5rem;
  color: white;
  padding:8px;
  transition: padding 5s;
  transition-timing-function: ease;
}
.icon:hover{  
  font-size: 1.4rem;
  background: white;
  color: black;
  padding: 8px;
  border-radius: 50%;
}