@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');
.container {
  padding: 0 2rem;
}
.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 0;  
}

.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border-bottom: 2px solid white; */
  /* margin-bottom: 8px; */
  /* padding: 0 12px; */

}

/* .main_title{
  display: flex;
  align-items: center;
 
} */
.top{
  position: absolute;
  z-index: 2;
  /* color: white; */
  bottom: 2rem;
  width: 88%;
  font-size: 1rem;
  font-family: roboto;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.08em;
  z-index: 6;
  padding-left: 3rem;
}

.mail{
  color: white !important;
  cursor: pointer !important;
  z-index: 6;
  display: flex;
  align-items: center;
}

.mail:hover{
  color: var(--theme-a) !important;
}
.bottom_icon{
  color: var(--theme-a);
  font-size: 1.4rem;
  margin-right: 8px;
}
.resume{
  width: 24rem;
height: 3rem;
border-radius: 6px;
margin-top: 4rem;
background: transparent;
color: white;
font-family: roboto;
font-size: 1.2rem;
letter-spacing: 0.04em;
font-weight: 500;
border-width: 2px;
}
.resume:hover{
  color:var(--theme-a) !important;
  border-color: var(--theme-a);
  background-color: transparent;
}

.iam{
  font-size: 3.5rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: white;
  line-height: 3rem;
  opacity: 0.5;
}

.name{
  font-size: 3rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: white;
  line-height: 5rem;
}
.country{
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 0.05em;
}
.country span{
  color: var(--theme-a);
}

.designation{
 font-size: 1.3rem;
  font-weight: 400;
  font-family: 'Roboto','sans-serif';
  color: white;
  letter-spacing: 0.03em;
}

.dot{
  width: 7px;
  height: 7px;
  background: white;
  margin: 12px;
  border-radius: 50%;
}
.smalldot{
  width: 4px;
  height: 4px;
  background: white;
  margin: 12px;
  border-radius: 50%;
}

.social{
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  z-index: 6;
}

.line{
  width: 0.5px;
  height: 8rem;
  background: white;
  opacity: 0.4;
  margin: 16px 0;
}

.icon{
  font-size: 1.5rem;
  color: white;
  padding:8px;
  transition: color .3s ease-in-out,background-color .3s ease-in-out;
}
.icon:hover{  
  font-size: 1.4rem;
  background: var(--theme-a);
  color: white;
  padding: 8px;
  border-radius: 50%;
}

.right{
  position: absolute;
  right: 0;
  color: white;
  display: flex;
  justify-content: space-around;
  width: 8rem;
  height: 100%;
  flex-direction: column;
}

.right_li{
  transform: rotate(270deg);
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  letter-spacing: 0.2em;
  list-style: none;
  cursor: pointer;
  margin-right: 16px;
  padding-bottom: 10px;
  width: max-content;

}

.right_li:hover{
  border-bottom: 2px solid white;
  color: var(--theme-a);
  font-weight: 500;
  border-color: var(--theme-a);
}

.left{
  position: absolute;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
  justify-content: space-between;
    padding-bottom: 2.5rem;
}

.logo{
  color: var(--theme-a);
  z-index: 2;
  font-family: roboto;
  font-size: 2.2rem;
  font-weight: 700;
  border-bottom: 3px solid;
}

.heart{
  font-size: 1.6rem;
  margin-left: 4px;
}