@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');
.container {
  padding: 0 2rem;
}



/* .main_title{
  display: flex;
  align-items: center;
 
} */

